<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CMM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")

</head>
<body ng-app="ngCMMApp">
    <!--header-->
    <div class="modal fade" id="loginDiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" ng-controller="ngLoginController">
                    <form ng-submit="authentication()">
                        <p class="text-danger" ng-if="isuserValidmsg">LoginId/Password is Invalid!</p>
                        <div class="form-group">
                            <label for="firstname" >LoginId</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="UserId" ng-model="login.LoginId">
                        </div>
                        <div class="form-group">
                            <label for="firstname" >Password</label>
                            <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Password" ng-model="login.Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade logs" id="guestRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content login-box">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Guest Registration Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="1firstname" aria-describedby="emailHelp" placeholder="Enter First Name">

                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="1lastname" placeholder="lastname">
                        </div>

                        <div class="form-group">
                            <label for="Mob">Mob No:</label>
                            <input type="number" class="form-control" id="1Mob" placeholder="Mobile No">
                        </div>



                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top fixed-top-2">
        <div class="container">
            <a class="navbar-brand" href="/home/index">CMM</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginDiv">Login</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#" data-toggle="modal" data-target="#guestRegistration">| Guest Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--header-->
    <!-- /.container -->
    @RenderBody()
    <!-- /.container -->
    <!-- footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>

    </footer>
    <!-- footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
